.work-cont {
  padding-top: 40px;
}

.work-gallery-cont {
  padding-top: 45px;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10% 5%;
}

@media (max-width: 1300px) {
  .work-gallery-cont {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    padding-bottom: 250px;
  }
}

@media (max-width: 730px) {
  .work-gallery-cont {
    grid-template-columns: 1fr;
    grid-gap: 2%;
    padding-bottom: 470px;
  }
} 