.bg-image {
  background-image: url(../../images/genial-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.empty-div {
  height: 100vh;
}